#conte-tipos-busqueda{
    display: flex;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.opcion-vista{
    position: relative;
    top: -30px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    color: var(--color-texto);
    background-color:var(--color-contenedor);
    cursor: pointer;
    font-family: 'Roboto-m';
    font-size: 0.8rem;
    padding-top: 2px;
    text-align: center;
}
.opcion-vista:nth-child(2){
    left: 10px;
}

.opcion-vista:hover{
    background-color: var(--color-secundario);
}







/* BUSCADOR 2.0 CONTROL*/



#conte-buscador{
    position: relative;
}
#parametros-busqueda{
    position: relative;
    display: block;
    width: 420px;
    height:480px;
}
#conte-opcion-param{
    display: block;
    height: 50%;
    align-items: center;
}

#buscador-por-nombre{
    display: none;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 95%;
    padding: 0px;
    margin: 0px;
}
#buscador-por-nombre .inputs-b-name{
    margin-top: 1px;
    margin-bottom: 10px;
}
#buscador-por-control{
    display: block;
    position: relative;
    opacity: 100%;
    width: 100%;
    height: 95%;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}

#conte-in-control .conte-input-dinamico{
    display: flex;
    align-items: center;
}

.in-control{
    margin-top: 10px;
    width: 90%;
}
btn-plus-campo{
    display: block;
    margin-left: 15px;
    
}
.icono-plus-campo{
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px;

}

.icono-plus-campo:hover .borde{
    fill: vatr(--color-resalte);
    box-shadow: 0px 5px 15px 0px var(--color-texto);
}
.icono-plus-campo:hover .plus{
    fill: vatr(--color-resalte);
}

.icono-remove{
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-resalte);
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    color: var(--color-resalte);
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}


#conte-fechas-buscador{
    margin-top: 10px;
    margin-bottom: 15px;
    display:flex;
    width: 100%;
    border-radius: .5em;
    justify-content: space-around;

}

.conte-titulo-fechas{
    width: 49%;
    display: inline-block;
    text-align: center;
}




/* Animaciones */

.animate-move{
    transform: translate(-150%,-50%);
    transition: all 0.5s ease-in-out;
    box-shadow: none;
    
}
/* Vista de Resultados */

#vista-resultado{
    visibility: hidden;
    position: fixed;
    display: inline;
    bottom: -600px;
    right: 10px;
    width: 50%;
    height: 95%;
}

.animate-move-r{
    display: block !important;
    visibility: visible !important;
    transform: translate(-10%, -67%);
    transition: all 0.5s ease-in-out;
}

#tabla-resultados{
    display: block;
    width:100%;
    margin: 10px auto;
}

.opcion-reci{
    display: block;
    text-decoration: none;
    cursor: pointer;
    height: 25px;
    border-radius: .5em;
}
.opcion-reci:hover{
    background-color: aliceblue;
    opacity: 10%;
}

/* 
.cell:nth-child(4){
    
} */

.icon-opcion-buscador{
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    fill: var(--color-texto);
}
.icon-opcion-buscador:hover{
    fill: var(--color-resalte);
}

.cell-con-icono{
    display: flex;
    text-align: center;
    align-items: center; 
    cursor: pointer;
    height: 20px;
    width: 20%;
    padding: 0px;
}
/* BUSCADOR 2.0 Nombre*/

.colum-oculta{
    display:none;
    visibility: hidden;
}

/* VISOR DE RECIBO */
#conte-view-recibo{
    display: block;
    visibility: visible;
    position: fixed;
    z-index: 2;
    width: 80%;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:chartreuse;
}