.red{
    background-color: #eb9d97 !important;
    border-bottom-color: #222121 !important;
    border-bottom-style: solid;  
}

#conte-control{  
    width: 15%;
    display: inline-block;    
    text-align: left;
    
    
    
}
#conte-control input{
    width: 120px;
    
}
#conte-ctrl-masivo{
   
    display: inline-block;    
    width: 30%;
}
#conte-ctrl-masivo input{
    width: 50%;
}

#fechas{
    display: inline-block;
    width: 40%;      
    text-align: left;
    
}

#ruta-g{
    width: 30%;    
}






