*, *::before, *::after {
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #1e5f74; 
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #1e5f74
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#49a2c0; 

}


@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face{
    font-family: "Roboto-m";
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face{
    font-family: "Roboto-m";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face{
    font-family: "Nova-Flat";
    src: url("../fonts/NovaFlat-Regular.ttf");
}




@keyframes loading {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px 0 0 100px;            
    height: 100px;
    width: 100px;
    border: 6px solid #40a7ad00;
    border-top-color: #1a1919;
    border-bottom-color: white;
    border-radius: 100%;
    animation: loading 1.5s infinite linear; 
}

.preloader_2{
    position: absolute;
    top: 50%;
    left: 50%;   
    width: 50px;
    height: 50px;
}
.preloader_2 span{
    display:block;
    bottom:0px;
    width: 30px;
    height: 30px;
    background:#19c9ff;
    position:absolute;
}
.preloader_2 span:nth-child(1){
    animation: preloader_2_1 1.5s infinite ease-in-out;
}
.preloader_2 span:nth-child(2){
    left:30px;
    animation: preloader_2_2 1.5s infinite ease-in-out;
}
.preloader_2 span:nth-child(3){
    top:0px;
    animation: preloader_2_3 1.5s infinite ease-in-out;
}

.preloader_2 span:nth-child(4){
    top:0px;
    left:30px;
    animation: preloader_2_4 1.5s infinite ease-in-out;
    }

@keyframes preloader_2_1 {
    0% {transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
    50% {transform: translateX(-50px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#3498db;}
    80% {transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
    100% {transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@keyframes preloader_2_2 {
    0% {transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
    50% {transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#f1c40f;}
    80% {transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
    100% {transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@keyframes preloader_2_3 {
    0% {transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
    50% {transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#2ecc71;}
    80% {transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
    100% {transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
    }

@keyframes preloader_2_4 {
    0% {transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
    50% {transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#e74c3c;}
    80% {transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
    100% {transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
    }


.deshabilitado{
    pointer-events: none;
}



    
html,
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* background-image: url("../img/patron.png"); */
    /* background: radial-gradient(ellipse at center, rgba(66,65,66,1) 0%, rgba(66,66,66,1) 50%, rgba(64,64,64,1) 65%, rgba(59,59,59,1) 72%, rgba(38,38,38,1) 100%); */
    background-color: #1d2d50;
}

.title{
    color:  #fcdab7;
    font-family: "Roboto";
    margin: 5px auto;
    text-align: center;
    font-size: 1.7rem;
}

hr{
    background-color: #fcdab7;
    border: 1px solid #fcdab7;
}


/* BOTONES */
.btn{
    background-color: #133b5c;
    border: 3px solid #1e5f74;
    display: inline-block;
    margin: auto;
    margin-right: 14px;
    color: #fcdab7;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: .5em ; 
    cursor: pointer;  
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Roboto';
        
}
.btn:hover{
    background-color: #1e5f74;
    color: white; 
    box-shadow: 0px 5px 15px 0px #1e5f74;
}
.btn:focus{
    outline: none;
}
.btn-explorar{
    width: 35px;    
}

.c-box:hover{
    cursor: pointer;
}

#check-todos:hover{
    cursor: pointer;
}


.in-lbl{
    color: #fcdab7;
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Roboto-m';  


}
.in-buscar{    
    background-color: #1e5f74;
    font-size: 16px;
    text-transform: uppercase;
    color: #fcdab7;
    width: 10%;     
    font-size: 14px;
    padding: 2px;
    padding-left: 10px;
    margin: 7px;
    border-radius: .5em;
    border: solid 2px #1e5f74;
    text-align: left; 
    cursor: no-drop
}
input:focus{
    outline: none;
    outline-width: 0;
    
}

.in-buscar:hover{
    box-shadow: 0px 1px 8px 0px #1e5f74;
}

.slt{
    display: inline-block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    height: 25px;
    width: 60px; 
    border-radius: .5em;
    border: none;
    background:transparent ;
    color: white;
    border: solid 2px #1e5f74;
    cursor: pointer;
    
}
.slt:hover{
    border: solid 2.5px #1e5f74;
    box-shadow: 0px 2px 5px 0px #1e5f74;
}
.slt option{
    color: black;
    scrollbar-width: none;
}

.slt:focus{
    outline: none;
    outline-width: 0; 
}


.cont-inputs form{
    width: 100%;
    height: 95%;
    text-align: left;   
    margin: 0px auto;        
}



