/* fuentes */
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face{
    font-family: "Nova-Flat";
    src: url("../fonts/NovaFlat-Regular.ttf");
}


html,
body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* background-image: url("../img/patron.png"); */
    /* background: radial-gradient(ellipse at center, rgba(66,65,66,1) 0%, rgba(66,66,66,1) 50%, rgba(64,64,64,1) 65%, rgba(59,59,59,1) 72%, rgba(38,38,38,1) 100%); */
    background-color: #363535;
}

#preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: 30%;  
    margin:auto; 
}

/* SECCION PRINCIPAL */
#menu-principal{
    width: 80%;
    height: 100%;   
    margin: 0px auto;   
    padding: 20px;
}
#opciones{      
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;  
}
.opcion{
    display: inline-block;    
    text-align: center;
    background-color: #008992;
    height: 100px;
    width: 24.03%;      
    padding: 5px; 
    margin: 6px;  
    box-shadow: 5px 5px 10px #1a1919;
}
.opcion:nth-child(2){
    background-color: #520092;
}
.opcion:nth-child(3){
    background-color: #920900;
}
.opcion:nth-child(4){
    background-color: #005892;
}
.opcion:hover{
    background-color: #80C4C9;
}
.opcion:nth-child(2):hover{
    background-color: #dcc1f0;
}
.opcion:nth-child(3):hover{
    background-color: #eb9d97;
}

.opcion:nth-child(4):hover{
    background-color: #9fd0f1;
}

.opcion:hover a{
    color: #222121;
}
.opcion a{   
    display: block;    
    height: 40px;
    width: 100%;
    margin: 30px auto;
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-family: Roboto;
    text-transform: uppercase;
}

#s-logo{
    margin-top: 100px;
    height: 80%;
    width: 85%;
    float: left;
    text-align: center; 
}


@keyframes a-latido1{
    0% {
    border: 0em solid #00466e;
    }
    25%{
        border: .4em solid #00466e;
    }
    50%{
        border: .8em solid #00466e;
    }

    75% {
    border: .4em solid #0083CD;
    }
    100%{
        border: 0em solid #00466e;
    }
}
.capa{
    clear: both; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;       
}

#capa1{      
    height:75%;
    width: 39%;    
    animation: a-latido1 3s infinite linear;
    padding: 30px; 
}

#logo-r{
    clear: both;
    height: 100%;
    width: 100%;   
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    
}

