
/* FORM LOGIN */
#form-login{
    display: block;
    width: 400px;
    height: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #133b5c; 
    box-shadow:0px 10px 20px 0px #0c0f30 ;  
}


.input-data{    
    background-color: #1e5f74;
    font-size: 20px;
    text-transform: uppercase;
    color: #fcdab7;
    width: 100%;     
    height: 30px;
    font-size: 14px;
    padding: 2px;
    padding-left: 10px;
    margin: 7px auto;
    border-radius: .5em;
    border: solid 2px #1e5f74;
    text-align: left; 
}



.btn-login{
    width: 100%;
    margin: 50px auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #133b5c;
    border: 3px solid #ff8882;
    color: #fcdab7
}

.btn-login:hover{
    background-color: #ff8882;
}

.in-label{
    margin-top: 20px;
    color: #fcdab7;
    font-family: 'Roboto-m';
    font-size: 1.2rem;
}