html,
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url("../img/patron.png");
    /*background: linear-gradient(to right, #93cede 0%, rgba(118,189,209,1) 47%, rgba(117,189,209,1) 48%, rgba(115,188,208,1) 50%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );    */
}


/* LOGO */
.logo{   
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    width: 150px;
    height: 150px;
    background-color: #00466e;
    border-radius: 100%;
}
.logo img{
    width: 100%;
    height: 95%;
    margin: auto;
    padding: 5px;
}


/* MENU */
aside{   
    float: left;
    width: 15%;
    height: 98%;    
    background-color: #565656;
    margin-top: 10px;
    box-shadow:  7px 5px 5px #2f2f2f;
}
/* Botones */
#btn-explorador-archivos{
    display: inline;
    border: none;   
    width: 50px;
    height: 20px; 
    margin: auto;
    background-color: #030303;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: .9em ;
    
}
#menu{
    margin-top: 40px;
    /*background-color: teal; */
    width: 100%;
    height: 80%;
}

aside #menu div{    
    background-color: #2b2a2a;
    height: 60px;
    padding: 1px;
    margin-bottom: 10px;
  
}

aside #menu div:hover{
    border-bottom-style: solid;
    border-bottom-color: white;
    background-color: #0083CD;
    cursor: pointer;   
}
aside div h2 {
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-align: center;
}

aside div h2 a{
    text-decoration:none ;
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-align: center;
}

/* SECCION PRINCIPAL */
#s-logo{
    height: 100%;
    width: 85%;
    float: left;
    text-align: center; 
}
@keyframes a-latido1{
    0% {
    border: 0em solid #00466e;
    }
    25%{
        border: .4em solid #00466e;
    }
    50%{
        border: .8em solid #00466e;
    }

    75% {
    border: .4em solid #0083CD;
    }
    100%{
        border: 0em solid #00466e;
    }
}

#logo-r{
    clear: both;
    height: 700px;
    width: 700px;   
    margin-left: auto;
    margin-right: auto;
}

.capa{
    clear: both; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;       
}
#capa1{
    margin-top: 200px;
    padding: 10px;  
    height:740px;
    width: 740px;
    animation: a-latido1 3s infinite linear;
}