


/* MENU */


#aside-menu{    
    display: block;  
    float: left;
    width: 3%;     
    height: 100%;
    background-color: #1d2d50;   
    border-right: 1px solid #1a1919;    
}  
/* Animacion  */
@keyframes t-op {
    0% {
    transform: translateX(-100px);
    opacity: 0%;
    }
    50% {
        opacity: 50%;
    }

    100% {
    transform: translateX(30px);
    opacity: 100%;
    }

}
#menu{   
    width: 100%;
    height: 100%;
    margin-top: 2px;  
}

.bar-opcion{    
    /* background-color: #22212100; */
    height: 50px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;  
    border-left: 3px solid #00000000;   
    
}
/* ICON OPCIONES */

.bar-opcion:hover{     
    cursor: pointer;     
}



.bar-opcion  a{
    display: block;
    text-decoration:none ;
    text-decoration: none;
    text-align: center;    
    font-size: 16px;
    font-family: Roboto;
    color: white;        
    height: 100%;   
}
.select-opcion{
    border-left: 3px solid white !important;
}
.select-op-icon{
    fill: white;
}
.icono-aside{
    display: block;
    width: 100%;
    height: 100%;
    fill: #6fd1d8;
}
.icono-aside:hover{
    fill: white;
}

.desc-op-side{
    display: none;
    position: relative;
    width: 200px;
    height: 20px;
    text-align: center;
    z-index: 3;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0px;
    color: white;
    font-weight: bold;

}
.desc-op-side p{
    background-color: #40A7AD;
    border-radius: .2em;
    padding: 2px;
    border: 2px solid white;
}
.bar-opcion:hover .desc-op-side{    
    display: inline-block; 
    animation-name: t-op;
    animation-duration: 1s;    
    animation-iteration-count: 2;
    animation-direction: alternate;
    transition: 1100ms;    
}




section {
    display: block;    
    width: 97%;
    height: 100%;
    float: right;     
    text-align: center;    
    padding: 20px;  
    padding-top: 5px;
    background-color: #1d2d50;
    /* box-shadow: 5px 5px 10px #1a1919;*/
} 
.t-seccion{
    display: block;
    background-color: #133b5c;
    border-radius: .5em;
    width: 100%;   
    margin-bottom: 10px;
}

.t-seccion h3{
    display: block;   
    font-size: 24px;    
    font-family: Roboto;
    color: #fcdab7;
    margin: 2px;
}


/* CONTENEDORES INPUTS */
.contenedor-form{
    background-color: #133b5c;
    padding: 5px;      
    border-radius: .5em;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
}

::-webkit-scrollbar-track{    
    border-radius: .5em;   
}

.cont-inputs .linea{
    margin-bottom: 10px;
    outline: none;
    
    
}
.cont-inputs{       
    width: 100%;
    margin: 0px auto;   
    background-color: #1e5f74;     
    font-family: Arial, Helvetica, sans-serif;
    border-radius: .5em;
    padding: 10px;
}



.limpiar-tbl{
    display: block;
    height: 40px;
    width: 40px;
    float: right;    
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #fcdab7;;
    border: none;   
    cursor: pointer;
}
.limpiar-tbl:focus{
    outline: none;
}
.limpiar-tbl img{
    display: block;
    width: 100%;
    height: 100%;
}

.limpiar-tbl:hover{
    background-color: #1d2d50;
}
#tbl{
    overflow: auto;
    scrollbar-width: 5px;
    width: 100%;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
    background-color: #133b5c;  
    padding: 20px;
    border-radius: .5em;
}

.conte-tbl{
    background-color: #1e5f74;
    width: 100%;       
    margin-right: auto;
    margin-left: auto;   
    border-radius: .6em;
    padding: 10px;
    padding-top: 0px;

}
table{   
    width: 100%;
    
    
}

#titulos th{             
    padding: 5px;    
    height: 35px;      
    text-transform: uppercase;
    font-size: 14px;
    background-color: #133b5c;
    color: #fcdab7;  
    position: sticky;
    top: -2.9%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: .4em;
}



#tbl-datos{      
    font-family: Arial, Helvetica, sans-serif;
    

}


#tbl-datos td{
    /* background-color: white; */
    color: #fcdab7;
    text-align: left;
    padding: 2px;
    padding-left: 10px;
  
}
#tbl-datos td:hover{
    /* background-color: white; */        
   box-shadow: 0px 10px 15px 0px #133b5c;
}


/* PANTALLA DE CONFIGURACIONES */

#conte-configuraciones{
    position: fixed;
    display: none;
    width: 50%;
    height: 50%;
    top: 300px;
    left: 200px;
    background-color: #16585a;
    box-shadow: 5px 5px 10px #1a1919;
    z-index: 2;
    
}
#conte-btn-cerrar{
    display: block;
    width: 100%;
    height: 20px;    
    margin-bottom: 10px;
}
.btn-cerrar{
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    /* background-color: #008992; */
    color: #fcdab7;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-cerrar:hover{
    background-color: #bb4e42;
    cursor:pointer;
}
#menu-config-overlay{
    display: block;
    float: left;
    width: 100px;
    height: 90%;
    background-color: #008992;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

#conte-inputs-configs{
    display: block;
    float: right;
    width: 80%;
    background-color: #133b5c;
    border-radius: .5em ;
    margin-right: 20px;
    height: 90%;
}