section{
    display: block;
    align-items: initial;
    
}

#menu{
    display: block;
    width: 30%;
    height: 180px;
    margin: 10px auto;
    padding: 10px;
    padding-top: 0px;
    
}
#opciones{
    display:flex;
    justify-content: space-between;
}
.opcion-menu{
    display: block;
    height: 100px;
    width:30%;
    cursor: pointer;
    border-radius: .5em;
    background-color: var(--color-contenedor);
}

.opcion-menu:hover{
    box-shadow: 0px 3px 10px 0px var(--color-contenedor); 

}


.opcion-interfaz{
    display: block;
    margin: 200px auto;
    height: 70%;
    width: 90%;


}

/* Respaldar */




.conte-acciones{
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin: 1px auto;
}

.accion{
    margin-right: 20px;
}