/* Preloader */
*, *::before, *::after {
    box-sizing: border-box;
}

@keyframes loading {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px 0 0 100px;            
    height: 100px;
    width: 100px;
    border: 6px solid white;
    border-top-color: #2b2a2a;
    border-bottom-color: #32add3;
    border-radius: 100%;
    animation: loading 1.5s infinite linear;    
}


/* RECOPILADOR */
#recopilador{
    height: 100%;
    width: 85%;
    float: left;  
    /* background: #93cede;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(47%, rgba(118,189,209,1)), color-stop(48%, rgba(117,189,209,1)), color-stop(50%, rgba(115,188,208,1)), color-stop(100%, rgba(73,165,191,1)));
    background: -webkit-linear-gradient(left, #93cede 0%, rgba(118,189,209,1) 47%, rgba(117,189,209,1) 48%, rgba(115,188,208,1) 50%, rgba(73,165,191,1) 100%);
    background: linear-gradient(to right, #93cede 0%, rgba(118,189,209,1) 47%, rgba(117,189,209,1) 48%, rgba(115,188,208,1) 50%, rgba(73,165,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );    */
    text-align: center;
    
}
#contenedor{
    margin-top: 80px;
    background-color: tomato;
    height: 10%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #32add3;
    border-radius: .9em;
    box-shadow:  5px 5px 4px #616161;

}
#cont-ruta{   
    display: block;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-top: 10px; 
    
}
#datos-in input{
    width: 55px;  

}

label{
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

input{   
    margin-left: 10px;   
    width: 50%;
    height: 30px;
    border-radius: .9em;

}


/* TABLA */
#tbl{
    overflow: scroll;
    width: 90%;
    height: 60%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    
    

}
table{    
    width: 100%;  

}
#titulos{  
    clear: both;
    width: 100%;
    box-shadow:  4px 5px 5px #7a7a7a;
    }

table #titulos th{             
    padding: 3px;
    height: 35px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #32add3;
    color: white;
    
}
#tbl-datos{
    box-shadow:  4px 5px 3px #7a7a7a;
    background-color: white;
}
#tbl-datos td{
    /* background-color: white; */
    color: black;
    text-align: left;
    padding: 2px;
    padding-left: 4px;
}

/* #tabla-datos td:last-child{
    word-wrap: break-word;
    word-break: break-all;
} */

/* Botones */

button{
    border: none;
    display: block;  
    width: 100px;
    height: 30px; 
    margin: auto;
    background-color: #2b2a2a;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: .9em ;
    
}
button:hover{
    background-color: #32add3;
}
button::after{
    content: "";
}
.btn{
    display: inline;
    border: none;       
    margin: auto;    
    color: #ffffff;
    text-align: center;    
    text-transform: uppercase;
    width: 150px;
    
    
}