/* Preloader */
*, *::before, *::after {
    box-sizing: border-box;
}

@keyframes loading {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px 0 0 100px;            
    height: 100px;
    width: 100px;
    border: 6px solid #c6f2ff;
    border-top-color: #2b2a2a;
    border-bottom-color: #32add3;
    border-radius: 100%;
    animation: loading 1.5s infinite linear;    
}


/* RECOPILADOR */
.secc{
    height: 100%;
    width: 85%;
    float: left;      
    text-align: center;
    
}

#cont-ruta{   
    display: block;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    
    
}

label{
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

input{   
    margin-left: 10px;   
    width: 50%;
    height: 25px;
    border-radius: .9em;

}

#datos-in{
    display: block;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;

}

#datos-in input{
    width: 55px;  

}
#todos{
    display: block;
    background-color: #c6f2ff;
    width: 90%;
    margin: 10px auto;
    margin-top: 50px;
    text-align: left;
    padding-left: 10px;
    
}

#todos label{
    margin-right: 5px !important;
    color: #2b2a2a;
}

/* TABLA */
#tbl{
    overflow: auto;
    scrollbar-width: 5px;
    width: 90%;
    height: 60%;  
    margin-left: auto;
    margin-right: auto;
    background-color: #c6f2ff;
}

table{    
    width: 100%;
}

#titulos{  
    clear: both;
    width: 80%;    
    box-shadow:  4px 5px 5px #7a7a7a;
}

table #titulos th{             
    padding: 3px;    
    height: 35px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #32add3;
    color: white;  
    position: sticky;
    top: 0%;  
}
#tbl-datos{
    box-shadow:  4px 5px 3px #7a7a7a;
    background-color:white;
    margin-top: 10px;
}
#tbl-datos td{
    /* background-color: white; */
    color: black;
    text-align: left;
    padding: 2px;
    padding-left: 4px;
    border-radius: .5em;        
    
}
#tbl-datos td:hover{
    /* background-color: white; */
    box-shadow: 0px 0px 10px 2px #7a7a7a;    
    color: #32add3;
}

/* #tabla-datos td:last-child{
    word-wrap: break-word;
    word-break: break-all;
} */

/* Botones */

button{
    display: inline;
    border: none;   
    width: 100px;
    height: 25px; 
    margin: auto;
    background-color: #2b2a2a;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: .9em ;
        
}
button:hover{
    background-color: #00466e;    
}

.btn{   
    border: none;       
    margin: auto;    
    color: #ffffff;
    text-align: center;    
    text-transform: uppercase;
    width: 150px;    
    
}