/* Preloader */
*, *::before, *::after {
    box-sizing: border-box;
}


/* RECOPILADOR */
.mor{
    
}
#cont-ruta{   
    display: block;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;    
}
#cont-ruta input{
    width: 350px;
}



/* TABLA */







